body {
	margin: 0;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

* {
	margin: 0;
	padding: 0;
}

a {
	display: block;
	text-decoration: none;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	outline: none !important;
}

input {
	outline: none !important;
	border: none;
}

.hidden-el {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

html,
body,
p,
a,
button {
	font-size: 16px;
}

h1,
h2,
h3 {
	font-size: 36px;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 460px) {
	html,
	body,
	p,
	a,
	button {
		font-size: 14px;
	}

	h1,
	h2,
	h3 {
		font-size: 24px;
	}
}

@media screen and (max-width: 360px) {
	html,
	body,
	p,
	a,
	button,
	div,
	.bp5-tab-list {
		font-size: 12px;
	}

	h1,
	h2,
	h3 {
		font-size: 18px;
	}
}
